<body>
    <a href="/answer">Encuesta</a> <br/>
    <a href="/upload">Subir Archivo</a> <br/>
    <a href="/results">Ver Resultados de Archivos</a> <br/>
    <a href="/questions">Ver Resultados de Preguntas</a> <br/>
</body>