<body>
    <form action="/login" method="POST">
        <table>
            <tr>
                <td>Correo:</td>
                <td><input type="email" name="email" /> </td>
            </tr>
            <tr>
                <td>Contraseña:</td>
                <td><input type="password" name="password" /></td>
            </tr>
            <tr>
                <td colspan="2">
                    <button type="submit">Ingresar</button>
                </td>
            </tr>
        </table>
    </form>
</body>