<body>
    <table>
        <tr>
            <td><b>Pregunta</b></td>
            <td><b>Tipo</b></td>
            <td><b>Acumulado</b></td>
            <td><b>Aplicadas</b></td>
            <td><b>Límite</b></td>
            <td><b>Aceptación</b></td>
        </tr>
        {rows}
    </table>
</body>