<body>
    <table>
        <tr>
            <td>
                <b>Total de encuestas:</b>
            </td>
            <td>
                {totalencuestas}
            </td>
        </tr>
        <tr>
            <td>
                <b>Puntos acumulados:</b>
            </td>
            <td>
                {totalacumulado}
            </td>
        </tr>
        <tr>
            <td>
                <b>Límite de puntos alcanzables:</b>
            </td>
            <td>
                {limitepuntosalcanzables}
            </td>
        </tr>
        <tr>
            <td>
                <b>Promedio por encuesta:</b>
            </td>
            <td>
                {promedioencuesta}
            </td>
        </tr>
        <tr>
            <td>
                <b>Límite alcanzable por encuesta:</b>
            </td>
            <td>
                {limiteporencuesta}
            </td>
        </tr>
        <tr>
            <td>
                <b>Aceptación general:</b>
            </td>
            <td>
                {aceptaciongeneral}
            </td>
        </tr>
    </table><br/>

    <table>
        <tr>
            <td>
                <b>Archivo</b>
            </td>
            <td>
                <b>Fecha Alta</b>
            </td>
            <td>
                <b>Usuario Alta</b>
            </td>
            <td>
                <b>Encuestas</b>
            </td>
            <td>
                <b>Puntuación Alcanzada</b>
            </td>
            <td>
                <b>Límite de Puntuación</b>
            </td>
            <td>
                <b>Promedio</b>
            </td>
            <td>
                <b>Límite por encuesta</b>
            </td>
            <td>
                <b>Aceptación</b>
            </td>
            <td>
                <b>Acciones</b>
            </td>
        </tr>
        {rows}
    </table>
</body>