Usuario: {user} <br/><br/>
<body>
    <form method="POST" action="/uploadFileSen" enctype="multipart/form-data">
        <table>
            <tr>
                <td>
                    Archivos:
                </td>
                <td>
                    <input type="file" id="upfFiles" name="files" accept=".txt" required="required" />
                </td>
            </tr>
            <tr>
                <td colspan="2">
                    <input type="submit" value="Subir Archivo"/>
                </td>
            </tr>
        </table>
    </form>
    <br/><br/>
    <table>
        <tr>
            <td>Archivo</td>
            <td>Usuario</td>
            <td>Polaridad</td>
            <td>Tipo</td>
            <td>Respuestas</td>
            <td>Fecha Alta</td>
            <td>Acciones</td>
        </tr>
        {rows}
    </table>
</body>