<body>
    <form action="survey" method="POST" >
        <table>
            <tr>
                <td>
                    ¿Cuál es tu correo electrónico?
                </td>
                <td>
                    <input type="email" name="Q1" required="required" ></input>
                </td>
            </tr>
            <tr>
                <td>
                    ¿Cuál es tu género?
                </td>
                <td>
                    <select name="Q2">
                        <option value="M">Masculino</option>
                        <option value="F">Femenino</option>
                    </select>
                </td>
            </tr>
            <tr>
                <td>
                    ¿Cuál es tu fecha de nacimiento?
                </td>
                <td>
                    <input type="date" name="Q3" required="required"></input>
                </td>
            </tr>
            <tr>
                <td>
                    ¿Quedó usted satisfecho con el servicio?
                </td>
                <td>
                    <select name="Q4">
                        <option value="0">No</option>
                        <option value="1">Si</option>
                    </select>
                </td>
            </tr>
            <tr>
                <td>
                    ¿Consideraría volver a usar nuestro servicio?
                </td>
                <td>
                    <select name="Q5">
                        <option value="0">No</option>
                        <option value="1">Si</option>
                    </select>
                </td>
            </tr>
            <tr>
                <td>
                    Del 1 al 5. ¿Qué tan satisfecha quedó con nuestro servicio? Siendo 1 el menos satisfecho y 5 el más satisfecho
                </td>
                <td>
                    <select name="Q6">
                        <option value="1">1 - Nada satisfecho</option>
                        <option value="2">2 - Poco satisfecho</option>
                        <option value="3">3 - Algo satisfecho</option>
                        <option value="4">4 - Satisfecho</option>
                        <option value="5">5 - Muy satisfecho</option>
                    </select>
                </td>
            </tr>
            <tr>
                <td>
                    Del 1 al 5. ¿Qué tan posible es que recomiende nuestro servicio? Siendo 1 es nada probable y 5 es muy probable
                </td>
                <td>
                    <select name="Q7">
                        <option value="1">1 - Nada posible</option>
                        <option value="2">2 - Poco posible</option>
                        <option value="3">3 - Algo posible</option>
                        <option value="4">4 - Posible</option>
                        <option value="5">5 - Definitivamente lo haré</option>
                    </select>
                </td>
            </tr>
            <tr>
                <td>
                    Del 1 al 10. ¿Qué tan satisfecho quedó con el surtido en tienda? Siendo 1 nada satisfecho y 10 muy satisfecho
                </td>
                <td>
                    <select name="Q8">
                        <option value="1">1 - Uno</option>
                        <option value="2">2 - Dos</option>
                        <option value="3">3 - Tres</option>
                        <option value="4">4 - Cuatro</option>
                        <option value="5">5 - Cinco</option>
                        <option value="6">6 - Seis</option>
                        <option value="7">7 - Siete</option>
                        <option value="8">8 - Ocho</option>
                        <option value="9">9 - Nueve</option>
                        <option value="10">10 - Diez</option>
                    </select>
                </td>
            </tr>
            <tr>
                <td>
                    Del 1 al 10. ¿Qué tan satisfecho quedó con los métodos de pago? Siendo 1 nada satisfecho y 10 muy satisfecho
                </td>
                <td>
                    <select name="Q9">
                        <option value="1">1 - Uno</option>
                        <option value="2">2 - Dos</option>
                        <option value="3">3 - Tres</option>
                        <option value="4">4 - Cuatro</option>
                        <option value="5">5 - Cinco</option>
                        <option value="6">6 - Seis</option>
                        <option value="7">7 - Siete</option>
                        <option value="8">8 - Ocho</option>
                        <option value="9">9 - Nueve</option>
                        <option value="10">10 - Diez</option>
                    </select>
                </td>
            </tr>
            <tr>
                <td>
                    ¿Nos puede apoyar con algún comentario?
                </td>
                <td>
                    <input type="text" name="Q10" ></input>
                </td>
            </tr>
            <tr>
                <td colspan="2">
                    <button type="submit">Guardar Encuesta</button>
                </td>
            </tr>
        </table>
    </form>
</body>