<body>
    <form method="POST" action="uploadFile" enctype="multipart/form-data">
        <table>
            <tr>
                <td>
                    Archivos:
                </td>
                <td>
                    <input type="file" id="upfFiles" name="files" accept=".csv" required="required" />
                </td>
            </tr>
            <tr>
                <td>
                    Correo:
                </td>
                <td>
                    <input type="email" name="email" required="required" />
                </td>
            </tr>
            <tr>
                <td>
                    Contraseña:
                </td>
                <td>
                    <input type="password" name="password" required="required" />
                </td>
            </tr>
            <tr>
                <td colspan="2">
                    <input type="submit" value="Subir Archivo"/>
                </td>
            </tr>
        </table>
    </form>
</body>