<body>
    {content}
    <!-- <table>
        <tr>
            <td><b>Encuesta Número</b></td>
            <td><b>Puntos Acumulados</b></td>
            <td><b>Límite de Puntos</b></td>
            <td><b>Aceptación</b></td>
            <td><b>Fecha</b></td>
        </tr>
        <tr>
            <td>1</td>
            <td>54</td>
            <td>60</td>
            <td>90.00</td>
            <td>29/09/2021 19:45</td>
        </tr>
    </table>
    <br>
    <table>
        <tr>
            <td><b>Pregunta</b></td>
            <td><b>Respuesta</b></td>
            <td><b>Valor</b></td>
        </tr>
        <tr>
            <td>¿Cuál es tu correo electrónico?</td>
            <td>cuevascorreo@gmail.com</td>
            <td>0</td>
        </tr>
        <tr>
            <td>¿Cuál es tu género?</td>
            <td>M</td>
            <td>0</td>
        </tr>
        <tr>
            <td>¿Cuál es tu fecha de nacimiento?</td>
            <td>22/03/1985</td>
            <td>0</td>
        </tr>
        <tr>
            <td>¿Quedó usted satisfecho con el servicio?</td>
            <td>1</td>
            <td>10</td>
        </tr>
        <tr>
            <td>¿Consideraría volver a usar nuestro servicio?</td>
            <td>1</td>
            <td>10</td>
        </tr>
        <tr>
            <td>Del 1 al 5. ¿Qué tan satisfecha quedó con nuestro servicio? Siendo 1 el menos satisfecho y 5 el más satisfecho</td>
            <td>5</td>
            <td>10</td>
        </tr>
        <tr>
            <td>Del 1 al 5. ¿Qué tan posible es que recomiende nuestro servicio? Siendo 1 es nada probable y 5 es muy probable</td>
            <td>3</td>
            <td>6</td>
        </tr>
        <tr>
            <td>Del 1 al 10. ¿Qué tan satisfecho quedó con el surtido en tienda? Siendo 1 nada satisfecho y 10 muy satisfecho</td>
            <td>8</td>
            <td>8</td>
        </tr>
        <tr>
            <td>Del 1 al 10. ¿Qué tan satisfecho quedó con los métodos de pago? Siendo 1 nada satisfecho y 10 muy satisfecho</td>
            <td>10</td>
            <td>10</td>
        </tr>
        <tr>
            <td>Comentarios</td>
            <td>Todos los comentarios</td>
            <td>0</td>
        </tr>
    </table> -->
</body>